 <section class="hero is-danger is-fullheight">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
        </div>
      
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container has-text-centered">
            <p class="title is-1">
              Welcome to Pizza Pizza!
            </p>
            <p class="subtitle is-3">
              Please Login to Place an Order
            </p>
            <button class="button is-outlined">Create Account</button>
            <button class="button is-centered">Login</button>
          </div>
        </div>
      
        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
        </div>
    </section>