<section class="hero is-danger is-fullheight">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
        </div>
      
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container has-background-light">
           

                <div class="has-text-centered">
                    <h1 class="title is-1 has-text-danger">Create Account</h1>
                </div>

                <br>
               </form class="box">
                <div class="field">
                  <label class="label has-text-danger">Email</label>
                  <div class="control">
                    <input class="input" type="email" id="email-signup" placeholder="e.g. alex@example.com">
                  </div>
                </div>
              
                <div class="field">
                  <label class="label has-text-danger">Password</label>
                  <div class="control">
                    <input class="input" type="password" id="password-signup" placeholder="********">
                  </div>
                </div>

                <div class="field">
                    <label class="label has-text-danger">First Name</label>
                    <div class="control">
                      <input class="input" type="text" id="firstName-signup" placeholder="Jane">
                    </div>
                  </div>

                  <div class="field">
                    <label class="label has-text-danger">Last Name</label>
                    <div class="control">
                      <input class="input" type="text" id="lastName-signup" placeholder="Doe">
                    </div>
                  </div>

                  <div class="field">
                    <label class="label has-text-danger">Address</label>
                    <div class="control">
                      <input class="input" type="text" id="address-signup"placeholder="123 Main Street">
                    </div>
                  </div>

                  <div class="field">
                    <label class="label has-text-danger">Phone Number</label>
                    <div class="control">
                      <input class="input" type="text" id="phonenumber" placeholder="(XXX)-XXX-XXXX">
                    </div>
                  </div>
                  </form>
              
                <button class="button is-danger is-centered" type="submit">Create</button>
              
          </div>
        </div>

        
      
        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
        </div>
      </section>
      
      <script src = './js/signup.js'></script>